.toute-les-carte-certif {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5%;
}

.carte-certif {
  margin: 30px 40px;
  width: 450px;
  height: 550px;
  perspective: 1000px;
}

.titre-certif {
  font-size: 24px;
  padding: 0px 10px;
}

.carte {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.carte-certif:hover .carte {
  transform: rotateY(180deg);
}

.carte-certif-face-avant,
.carte-certif-face-arriere {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 20px;
  background: #141414;
  /* background: linear-gradient(270deg, #40c9ff 0%, #e81cff 60%);*/
  color: white;
  padding: 0.5em;
}

.carte-certif-face-arriere {
  transform: rotateY(180deg);
}

@media (pointer: coarse) {
  .carte-certif:focus .carte {
    transform: rotateY(180deg);
  }
}

.logo-carte-certification {
  max-height: 55px;
  display: flex;
  margin: auto;
}

.fleche-verso-carte-certification {
  padding-left: 80%;
  padding-bottom: 15px;
  width: 20px;
  color: var(--color-noir);
}

body.ClairSombre .fleche-verso-carte-certification {
  color: var(--color-blanc);
}

.titre-objectif-certification {
  text-align: center;
  font-size: 24px;
}

.carte-certif-face-arriere ul li {
  text-align: left;
}

body.ClairSombre .carte-certif-face-arriere ul li {
  color: var(--color-blanc);
  padding-right: 10px;
}

.carte-certif-face-arriere a {
  color: var(--color-noir);
}

body.ClairSombre .carte-certif-face-arriere a {
  color: var(--color-blanc);
}
