* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

:root {
  --primary-color: #717171;
  --secondary-color: #4caf4f;
  --titre-color: #4d4d4d;
  --header-color: #f5f7fa;
  --nav-link-color: #18191f;
  --sous-titre-color: #717171;

  /* box shadow */

  --shadow-md: 0 2px 4px 0 rgba(171, 190, 209, 0.2);

  /* fonts */

  --font-family-heading: "Inter", sans-serif;

  --font-weight-normal: 400;
  --font-weight-titre: 600;
  --font-weight-bold: 700;

  /* font size */
  --font-size-texte: 14px;
  --font-size-paragraphe: 16px;
  --font-size-title-h2: 24px;
  --font-size-title-parcours: 35px;
  --font-size-title-h2-main: 45px;
  --font-size-title-h1: 36px;

  /* padding */
  --padding-top-bottom-nav: 22px;
  --padding-right-left-nav: 105px;
  --padding-button-nav-top-bottom: 10px;
  --padding-button-nav-right-left: 20px;

  --padding-button-left-right: 32px;
  --padding-button-top-bottom: 14px;

  --padding-icon-left-right: 56px;
  --padding-main-top-bottom: 144px;
  --padding-icon-boite-top-bottom: 24px;
  --padding-icon-boite-right-left: 32px;

  --padding-main-footer: 64px;
  --padding-footer-left-right: 165px;

  /*line height*/
  --line-height-h2: 44px;
  --line-height-title: 76px;
}

.navbar {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  background-color: black;
  color: white;
  z-index: 100;
  position: sticky;
  top: 0;
}

.navbar nav {
  display: flex;
  flex-direction: row;
}

.navbar a.menu {
  position: relative;
  width: 120px;
  height: 40px;
  background-color: #080708;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: row;
  justify-content: center;
  border: none;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  margin: 1em;
  text-decoration: none;
}

.navbar a.menu::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 128px;
  height: 48px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #f7aef8 0%, #3772ff 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navbar a.menu::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #f7aef8 0%, #3772ff 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.navbar a.menu:hover::after {
  filter: blur(30px);
}

.navbar .menu:hover::before {
  transform: rotate(-2deg) scale(0.95);
}

.presentation {
  display: flex;
  width: 85%;
  background: linear-gradient(#0f0e0e, #0f0e0e) padding-box,
    linear-gradient(145deg, transparent 35%, #e81cff, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 1em 1em;
  font-size: 14px;
  font-family: inherit;
  color: whitesmoke;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 26px;
  margin: auto;
  margin-top: 5em;
  flex-direction: row;
  margin-bottom: 8em;
}

.main-paragraphe {
  font-size: var(--font-size-paragraphe);
}

.a-propos {
  font-size: var(--font-size-title-h1);
  color: white;
}

.titre-descr {
  text-align: center;
  font-size: var(--font-size-title-parcours);
  padding-bottom: 0.8em;
  text-align: center;
  color: var(--header-color);
  border-color: var(--header-color);
  border-bottom: solid;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.descriptions {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
}

.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  padding-top: var(--padding-main-top-bottom);
  padding-bottom: var(--padding-main-top-bottom);
}

.main-pres {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  object-fit: contain;
  width: 400px;
  height: 400px;
  border-radius: 75%;
  overflow: hidden;
  box-shadow: 0 0 50px #e81cff;
}

.image-pres {
  position: relative;
  top: 35%;
  left: 25%;
  transform: translate(-50%, -50%);
  z-index: auto;
  width: 200px;
  height: 266 px;
}

.main-pres-texte {
  width: 45%;
  padding-right: var(pad);
}

.main-pres-texte h2 {
  font-size: var(--font-size-title-h2);
  margin: 0;
}

.passion {
  color: #e81cff;
  text-shadow: 0 0 10px #e81cff;
}

.typewriter-text {
  color: #e81cff;
  text-shadow: 0 0 10px #e81cff;
}

body {
  margin: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(5, 5, 55, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}
/* html,
body {
  height: 100%;
} */
main {
  flex: 1;
}

.image-header {
  width: 75px;
  height: 50px;
  background-color: black;
  margin: 1em;
}

.main-titre-pres {
  margin-bottom: 0;
  font-size: var(--font-size-title-h1);
}

.main-image {
  display: flex;
  justify-content: center;
}

/*object-fit*/

.presentation-image-prenom {
  width: 25%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  object-fit: contain;
}

.presentation-text {
  width: 75%;
  font-size: 1rem;
}

.prenom-presentation {
  text-align: center;
}

.pres-parcours {
  display: flex;
  justify-content: space-between;
  padding-left: var(--padding-icon-left-right);
  padding-right: var(--padding-icon-left-right);
  padding-top: 48px;
  padding-bottom: 48px;
  margin-top: 40px;
  margin-bottom: 48px;
  align-items: center;
  color: white;
}

.pres {
  width: 50%;
  margin: 0.5em;
}

.image-main {
  width: 40%;
  margin: 0.5em;
  display: flex;
  justify-content: center;
}

.image {
  width: 350px;
}

.titre-main {
  width: 85%;
  margin: auto;
  font-size: var(--font-size-title-h2-main);
  line-height: var(--line-height-h2);
  text-align: center;
  color: var(--header-color);
  border-color: var(--header-color);
  border-bottom: solid;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  color: white;
}

.h2-titre {
  width: 85%;
  margin: auto;
  font-size: var(--font-size-title-h2-main);
  line-height: var(--line-height-h2);
  text-align: center;
  color: var(--header-color);
  border-color: var(--header-color);
  border-bottom: solid;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.h3-titre {
  font-size: var(--font-size-title-h2-main);
  line-height: var(--line-height-h2);
  text-align: center;
  color: var(--titre-color);
}

.pres-portfolio {
  display: flex;
  justify-content: space-evenly;
  width: 85%;
  border-radius: 26px;
  margin: auto;
  background-color: #131010;
  padding-left: var(--padding-icon-left-right);
  padding-right: var(--padding-icon-left-right);
  padding-top: 48px;
  padding-bottom: 48px;
  margin-top: 40px;
  margin-bottom: 48px;
  align-items: center;
  color: white;
  flex-direction: row;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  color: white;
  background-color: #18191f;
  flex-wrap: wrap;
}

.footer a {
  color: white;
}

.reseaux {
  display: flex;
  align-items: center;
  color: white;
}

.reseaux a {
  text-decoration: none;
  margin: 1em;
}

.mentions_legales {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.titre_mentionlegal {
  font-size: var(--font-size-title-h2-main);
  color: white;
}

.mentions_legales_textes {
  width: 85%;
  border-radius: 26px;
  margin: auto;
  background-color: #131010;
  padding-left: var(--padding-icon-left-right);
  padding-right: var(--padding-icon-left-right);
  padding-top: 48px;
  padding-bottom: 48px;
  margin-top: 40px;
  margin-bottom: 48px;
  color: white;
}

@media screen and (max-width: 728px) {
  html {
    width: fit-content;
  }
  .navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
  }
  .main-container {
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .main-pres-texte {
    width: 75%;
  }
  .presentation {
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .presentation-image-prenom {
    width: 75%;
  }
  .pres-parcours {
    flex-direction: column;
  }
  .pres {
    width: 75%;
  }
}
